*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
}

ul.sidenav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: rgb(117, 115, 115);
  position: fixed;
  height:100%;
  overflow: auto;
  border-width: 4px;
  border-left-width:0;
  border-top: 0;
  border-style: solid;
  border-color: white;
}

ul.sidenav li{
  display: block;
  color: white;
  height: 50px;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
  margin-left: 5px;
  margin-top: 15px;
  font-family: 'Bahnschrift';
  font-size: 22px;
}
 

ul.sidenav li:hover{
  color: rgb(252, 159, 54);
  transition-duration: 600ms;
}


@media screen and (max-width: 900px){
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 760px){
  ul.sidenav li {
    text-align: center;
    float: none;
    height: 15px;
  }
}
#headContent{
    color: white;
    font-family: 'Bahnschrift';
    text-align: right;
    margin-right: 23px;
}
.p1{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}